<section class="comments-list">

    <div class="comments-list__header">
        <div><h1>Comments</h1></div>
        <div class='comments-list__sorting'>
            <h2>Sort</h2>
            <button class="comments-list__button js-likes-button">Likes</button>
            <button class="comments-list__button comment-sort-options-selected js-newest-button">Newest</button>
        </div>
    </div>

    <div class="comment-container js-comments-container">

    </div>
</section>